POSTGRES_DB=mlops
POSTGRES_USER=mlops
POSTGRES_PASSWORD=

APP_PORT=8000
LOG_LEVEL=INFO

MLFLOW_PORT=5000
MLFLOW_TRACKING_URI=http://127.0.0.1:5000
MLFLOW_EXPERIMENT_NAME=iris-classification
MLFLOW_MODEL_NAME=iris-classifier
MLFLOW_MODEL_ALIAS=champion
